/CKPManagement/target/
/birt-report-designer-all-in-one-3_7_2/
/birt-report-designer-all-in-one-3_7_2.zip
/jdk-8u161-windows-i586.exe
CKPManagement/CKPManagement.iml
CKPManagement/.settings/org.eclipse.wst.validation.prefs
CKPManagement/.settings/org.eclipse.wst.jsdt.ui.superType.name
CKPManagement/.idea/artifacts/CKPManagement_war_exploded.xml
CKPManagement/.classpath
CKPManagement/.idea/artifacts/CKPManagement_war.xml
CKPManagement/.idea/compiler.xml
CKPManagement/.idea/encodings.xml
CKPManagement/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
CKPManagement/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
CKPManagement/.idea/libraries/Maven__c3p0_c3p0_0_9_1_2.xml
CKPManagement/.idea/libraries/Maven__commons_codec_commons_codec_1_5.xml
CKPManagement/.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_2_2.xml
CKPManagement/.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_2_2.xml
CKPManagement/.idea/libraries/Maven__commons_io_commons_io_1_3_1.xml
CKPManagement/.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
CKPManagement/.idea/libraries/Maven__commons_pool_commons_pool_1_3.xml
CKPManagement/.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
CKPManagement/.idea/libraries/Maven__javax_javaee_web_api_6_0.xml
CKPManagement/.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
CKPManagement/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
CKPManagement/.idea/libraries/Maven__mysql_mysql_connector_java_5_1_24.xml
CKPManagement/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_1.xml
CKPManagement/.idea/libraries/Maven__org_apache_commons_commons_math_2_2.xml
CKPManagement/.idea/libraries/Maven__org_apache_extras_beanshell_bsh_2_0b6.xml
CKPManagement/.idea/libraries/Maven__org_apache_poi_ooxml_schemas_1_1.xml
CKPManagement/.idea/libraries/Maven__org_apache_xmlbeans_xmlbeans_2_3_0.xml
CKPManagement/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_4_0_4_Final.xml
CKPManagement/.idea/libraries/Maven__org_hibernate_hibernate_core_4_3_5_Final.xml
CKPManagement/.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
CKPManagement/.idea/libraries/Maven__org_javassist_javassist_3_18_2_GA.xml
CKPManagement/.idea/libraries/Maven__org_jboss_jandex_1_1_0_Final.xml
CKPManagement/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_3_GA.xml
CKPManagement/.idea/libraries/Maven__org_jboss_logging_jboss_logging_annotations_1_2_0_Beta1.xml
CKPManagement/.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_0_0_Final.xml
CKPManagement/.idea/libraries/Maven__org_jsoup_jsoup_1_7_3.xml
CKPManagement/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_5.xml
CKPManagement/.idea/libraries/Maven__org_slf4j_slf4j_jdk14_1_7_5.xml
CKPManagement/.idea/libraries/Maven__org_springframework_spring_aop_4_0_0_RELEASE.xml
CKPManagement/.idea/libraries/Maven__org_springframework_spring_beans_4_0_0_RELEASE.xml
CKPManagement/.idea/libraries/Maven__org_springframework_spring_context_4_0_0_RELEASE.xml
CKPManagement/.idea/libraries/Maven__org_springframework_spring_context_support_4_0_0_RELEASE.xml
CKPManagement/.idea/libraries/Maven__org_springframework_spring_core_4_0_0_RELEASE.xml
CKPManagement/.idea/libraries/Maven__org_springframework_spring_expression_4_0_0_RELEASE.xml
CKPManagement/.idea/libraries/Maven__org_springframework_spring_jdbc_4_0_0_RELEASE.xml
CKPManagement/.idea/libraries/Maven__org_springframework_spring_orm_4_0_0_RELEASE.xml
CKPManagement/.idea/libraries/Maven__org_springframework_spring_tx_4_0_0_RELEASE.xml
CKPManagement/.idea/libraries/Maven__org_springframework_spring_web_4_0_0_RELEASE.xml
CKPManagement/.idea/libraries/Maven__org_zkoss_common_zcommon_8_0_2_2.xml
CKPManagement/.idea/libraries/Maven__org_zkoss_common_zel_8_0_2_2.xml
CKPManagement/.idea/libraries/Maven__org_zkoss_common_zweb_8_0_2_2.xml
CKPManagement/.idea/libraries/Maven__org_zkoss_poi_zpoi_3_9_12_Eval.xml
CKPManagement/.idea/libraries/Maven__org_zkoss_zk_zhtml_8_0_2_2.xml
CKPManagement/.idea/libraries/Maven__org_zkoss_zk_zk_8_0_2_2.xml
CKPManagement/.idea/libraries/Maven__org_zkoss_zk_zkbind_8_0_2_2.xml
CKPManagement/.idea/libraries/Maven__org_zkoss_zk_zkplus_8_0_2_2.xml
CKPManagement/.idea/libraries/Maven__org_zkoss_zk_zul_8_0_2_2.xml
CKPManagement/.idea/libraries/Maven__org_zkoss_zsoup_1_8_2_5.xml
CKPManagement/.idea/libraries/Maven__org_zkoss_zss_zss_3_9_1_Eval.xml
CKPManagement/.idea/libraries/Maven__org_zkoss_zss_zssmodel_3_9_1_Eval.xml
CKPManagement/.idea/libraries/Maven__stax_stax_api_1_0_1.xml
CKPManagement/.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
CKPManagement/.idea/misc.xml
CKPManagement/.idea/modules.xml
CKPManagement/.idea/workspace.xml
CKPManagement/.project
CKPManagement/.settings/.jsdtscope
CKPManagement/.settings/org.eclipse.core.resources.prefs
CKPManagement/.settings/org.eclipse.jdt.core.prefs
CKPManagement/.settings/org.eclipse.m2e.core.prefs
CKPManagement/.settings/org.eclipse.wst.common.component
CKPManagement/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
CKPManagement/.settings/org.eclipse.wst.common.project.facet.core.xml
CKPManagement/.settings/org.eclipse.wst.jsdt.ui.superType.container
*.sql
CKPManagement/src/main/webapp/file/upload/Bills/2017_09_23/CardOffer.xlsx
CKPManagement/src/main/webapp/file/upload/Bills/2017_09_22/CardOffer_20170922234939.xlsx
CKPManagement/src/main/webapp/file/upload/Bills/2017_09_22/CardOffer_20170922234622.xlsx
CKPManagement/src/main/webapp/file/upload/Bills/2017_09_22/CardOffer_20170922222659.xlsx
CKPManagement/src/main/webapp/file/upload/Bills/2017_09_22/CardOffer_20170922221312.xlsx
CKPManagement/src/main/webapp/file/upload/Bills/2017_09_22/CardOffer_20170922221218.xlsx
CKPManagement/src/main/webapp/file/upload/Bills/2017_09_22/CardOffer_20170922220646.xlsx
CKPManagement/src/main/webapp/file/upload/Bills/2017_09_22/CardOffer.xlsx
CKPManagement/src/main/webapp/file/export/bills_data_export.xlsx
CKPManagement/src/main/webapp/file/export/bills_data_export.xlsx
CKPManagement/src/main/resources/jdbc.properties
CKPManagement/pom.xml
CKPManagement/src/main/webapp/file/export/bills_data_export.xlsx
CKPManagement/src/main/resources/jdbc.properties
CKPManagement/src/main/resources/jdbc.properties
CKPManagement/src/main/resources/jdbc.properties
CKPManagement/src/main/webapp/file/upload/Bills/2017_09_23/HuongDanSuDungGit(2).docx
CKPManagement/src/main/webapp/file/upload/Bills/2017_09_23/QLCL_20170815_ phan tich giai phap nghiep vu_v3.docx
CKPManagement/src/main/webapp/file/upload/Bills/2017_09_23/Tai lieu thiet ke co so du lieu_CSKH.doc
document/ScriptDB.sql

/stfc-birt/nbproject/private/

/DashboardStfc/target/

