.upload {
	
}

.btn-upload {
	position: absolute;
	z-index: 9999;
	margin-top: -19px;
	margin-left: 70%;
	width: 40px !important;
}

.label-file-name {
	color: red;
	text-align: left;
	width: 100%;
	margin-left: 10%;
}

.dowload-file {
	text-align: center;
	text-decoration: underline;
	font-style: italic;
	color: blue;
	margin: 10px 0px 10px 0px;
}

.textbox-total-errorr {
	margin-left: 84px;
	border: 1px solid silver !important;
}

.textbox-total-succes {
	margin-left: 35px;
	border: 1px solid silver !important;
}

.textbox-total {
	margin-left: 100px;
	border: 1px solid silver !important;
}

.totalRowSuccess {
	margin-bottom: 3px;
	margin-top: 3px;
}

.totalRow {
	margin-bottom: 3px;
	margin-top: 3px;
}

.totalRowError {
	margin-bottom: 3px;
	margin-top: 3px;
}

.button-control {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.dowload-file-error {
	border: none;
	font-weight: bold;
	color: blue;
	background: none;
}

.combox-status .z-combobox-input {
	text-align: center;
}

.btn-dowload {
	border: none;
	background: none;
	color: blue;
	text-decoration: underline;
	font-style: italic;
	font-size: 20px;
}

.title {
	width: 100%;
	border: 1px solid red;
}

.icon {
	width: 50%;
	border: 1px solid black;
}

.information {
	width: 50%;
	border: 1px solid black;
}