/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 9, 2018, 11:22:26 AM
    Author     : daond
*/
/*body {
    padding: 0px;
}
#main {
    font-family: 'Arial';
}*/
/*Dashboard*/
/*.title-dashboard {
    line-height: 43px;
    color: white !important;
    font-weight: bold;
    font-size: 14px;
}
.content-border {
    border: 1px solid silver;
}*/
/*.chartbase {
    width: 100% !important;
    height: auto !important;
    height: 100% !important;
    position: relative;
    float: left;
}*/

/*.daond {
    width: auto;
    height: 100%;
}*/
.dashboard-main{
    width: 100%;
    height: 100%;
}
.dashboard-main-left{
    width: auto;
    height: 100%;
    float:left;
}
.dashboard-main-right {
    width: auto;
    /*width: calc(100% - 190px);*/
/*    float: left;*/
    /*padding: 10px;*/
}
.dashboard-content {
    width: calc(50% - 6px);
    float: left;
    margin: 3px;
    border: 1px solid #c0c0c0;
    box-shadow: none;
    background-color: white;
    /*max-height: 450px;*/
    /*height: 450px;*/
}
.dashboard-content-100 {
    width: calc(100% - 6px);
    float: left;
    margin: 3px;
    border: 1px solid #c0c0c0;
    box-shadow: none;
    background-color: white;
    /*max-height: 450px;*/
    /*height: 450px;*/
}
/*.transparent {
    height: 100%;
}
.z-panel-body {
    height:calc(100% - 50px);
}
.z-panelchildren {
    height: 100%;
    overflow-y: auto;
    padding: 5px;
}*/
/*.dashboard-content-title {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d0cece;
    height: 30px;
}
*/
/*.dashboard-content-title .z-caption-content{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #585858;
    line-height: 38px;
    padding-left: 10px;
}
.dashboard-content-title .z-icon-caret-up {
    line-height: 38px;
}
Resize content
@media only screen and (max-width: 768px) {
    .dashboard-content {
        width: calc(100% - 10px);
        float: left;
        margin-right: 10px;
        border: 1px solid #c0c0c0;
        margin-top: 10px;
        box-shadow: none;
        background-color: white;
    }
}
.dashboard-breadcrumb-data-date {
    background-color: red;
    float: right;
}
.nav-user > div .user-menu.z-menubar {
    border-left: none !important;
}
.nav-user > div .user-menu.z-menubar .z-menu-selected > .z-menu-content, 
.nav-user > div .user-menu.z-menubar .z-menu-content:active {
    border-radius: 0 !important;
}

border grid
.border-content-grid .z-row-inner:first-child, .z-columns:first-child {
    border-left: 1px solid #c0c0c0;
}
.border-content-grid .z-row-inner {
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}
.border-content-grid .z-columns {
    border-top: 1px solid #c0c0c0;
}
.text-align-center {
    text-align: center !important;
}
.dashboard-footer {
    width: 100%;
    height: 40px;
    background-color: #E5E5E5;
    float: left;
    border-top: 1px solid #c0c0c0;
    text-align:center; 
    line-height: 40px;
    
}*/
/*end border grid*/
/*Dashboard*/
/*End Dashboard*/

/*Lay tu index.css.dsp*/
/*.z-grid .z-column-content {
  padding: 8px;
  line-height: 1.5;
}
.z-grid .z-row:hover > .z-row-inner,
.z-grid .z-row:hover > .z-cell {
  background-image: none;
}
.z-grid .z-row > .z-row-inner,
.z-grid .z-row > .z-cell {
  background-image: none;
}
.z-grid .z-row.z-grid-odd > .z-row-inner,
.z-grid .z-row.z-grid-odd > .z-row-inner:hover {
  background-color: transparent;
}
.z-grid .z-grid-header,
.z-grid .z-column {
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.z-grid .z-column-content {
  font-family: 'Arial';
  font-size: 13px;
  color: #707070;
}
.z-grid .z-column-content [class*="z-icon-"] {
  margin-right: 2px;
}
*/
.z-panel-icon:before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0;
  border-left: 1px solid #D9D9D9;
  border-width: 0 1px 0 0;
}
/*End lay tu index.css.dsp*/